<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324995549536-0b1arv2hk4htjafdh9u9qb0isrs60vg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324995549536-0b1arv2hk4htjafdh9u9qb0isrs60vg2</string>
	<key>API_KEY</key>
	<string>AIzaSyB8ahNr8-N6i1tybCJeb3PHLwMsFw0NxbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>324995549536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ayapay</string>
	<key>PROJECT_ID</key>
	<string>cryptoafrica-e1f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoafrica-e1f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324995549536:ios:1410f67e9ad04541597605</string>
	<key>DATABASE_URL</key>
	<string>https://cryptoafrica-e1f8d.firebaseio.com</string>
</dict>
</plist>